# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
appdirs
astroid
black
Brotli
certifi
chardet
click
colorama
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
hmmlearn
idna
isort
itsdangerous
Jinja2
joblib
lazy-object-proxy
MarkupSafe
mccabe
mypy-extensions
numpy
pandas
pathspec
plotly
pyaml
pylint
python-dateutil
pytz
PyWavelets
PyYAML
regex
requests
retrying
scikit-learn
scikit-optimize
scipy
six
sklearn
threadpoolctl
toml
urllib3
Werkzeug
wrapt
